/*.pdf
/inspection/*

*~
.DS_Store
.idea/
node_modules/
npm-debug.log*
*.pyc
__pycache__/
*$py.class
*.py[cod]
.*.swp
db.sqlite3
frontend/static/frontend/
staticfiles/
.pytest_cache/
.python-version
.venv
.env
